body {
    overflow: hidden;
    background-color: #000000;
    color: #FFFFFF;
}

div.container {
    display: flex;
    flex-wrap: wrap;
    padding: 0;


}
.item {
    width: 50%;
    height: 50%;
    text-align: center;
}

.title {
    font-weight: bold;
    line-height: 1em;
}
